header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: linear-gradient(45deg, #2F4F4F 1.18%, #0b0600 100%);
  color: white;
  padding: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header--title {
  text-align: center;
}

header > ul {
  display: flex;
  list-style: none;
}

.header--link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container > * {
  margin: 0 2rem;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #D3D3D3;
}

.landing-button {
  width: 30vh; /* adjust as needed */
  height: 30vh; /* adjust as needed */
  border-radius: 50%; /* makes the div circular */
  background: linear-gradient(45deg, #2F4F4F 1.18%, #0b0600 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); /* gives the illusion of depth */
}

.landing-link {
  color: white;
  text-decoration: none;
}

table {
  width: 40%; 
  font-size: 1.2em;
  border: #0b0600 solid 2px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 2rem;
}

.edit-form {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%; 
  font-size: 1.2em;
  border: #0b0600 solid 2px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 1rem;
  text-indent: 2rem;
  padding: 1%;
}

thead {
  background-color: #778899;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-add {
  background-color: #4682B4;
  width: 15%;
  font-size: 1.2em;
  border-radius: 15px;
}

.btn-edit {
  display: flex;
  justify-content: center;
  background-color: #FFD700;
  width: 4.5rem;
  font-size: 1.0em;
  border-radius: 15px;
  margin-top: 1rem;
}